<div>
  <h3 style="text-align: center;margin-top: 50px;margin-bottom: 25px;">Danh sách môn học</h3>
  <input (keyup)="searchLop($event)"type="text" placeholder="Search any thing..." *ngIf="!loading">
  <span style="position: absolute;right: 5em;"*ngIf="!loading">
    <button type="button" [routerLink]="['/quanly-lop/them-lop']" style="font-weight: 900;font-size: 17px"  class="btn btn-info"> + </button>
  </span>
  <br><br>
  <div id="loading" *ngIf="loading">
    <div class="spinner-grow text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-info" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <table class="table table-hover" *ngIf="!loading">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Môn học <span (click)="sortNewToOld()"style="margin-left: s5px;color: aqua;cursor: pointer;">?</span></th>
        <th scope="col">Giảng Viên</th>
        <th scope="col">Lịch Học</th>
        <th scope="col">Ngày Bắt Đầu</th>
        <th scope="col">Số Buổi Học</th>
        <th scope="col">Số Lượng SV</th>
        <th scope="col">Trạng Thái</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody id="BangLop">
      <tr *ngFor="let mh of MonHoc ; let i = index">
        <th scope="row">{{i}}</th>
        <td>{{mh.tenmonhoc}}</td>
        <td>{{mh.tengv}}</td>
        <td>
          <tr >
            <th>Thứ</th>
            <th>Giờ BĐ</th>
            <th>Giờ KT</th>
          </tr>
          <tr >
            <td>{{mh.lichday.thuday}}</td>
             <td> {{mh.lichday.gioday.giobd}}</td>
             <td> {{mh.lichday.gioday.giokt}}</td>
          </tr>
        </td>
        <td> {{mh.ngaybatdau}}</td>
        <td >
          <span *ngIf="mh.sobuoihoc">{{mh.sobuoihoc}}</span>
          <span *ngIf="!mh.sobuoihoc">Chưa có</span>
         </td>
         <td>{{getSV_HocMonNay(mh)}} </td>
         <td>

            <span *ngIf="getStatusMonHoc(mh.ngaybatdau) == 0"  style="color: chocolate;"> Chưa bắt đầu</span>
            <span *ngIf="getStatusMonHoc(mh.ngaybatdau) == 1" style="color: green;"> Đã bắt đầu</span>
          </td>
        <td>
          <button type="button"[routerLink]="['/quanly-lop/edit',mh.id]"  class="btn btn-info">Edit</button>
        </td>
        <td>
          <button type="button" class="btn btn-danger" (click)="deleteLop(mh.id)">Delete</button>
        </td>
      </tr>

    </tbody>
  </table>

</div>
