<div>
  <h3 style="text-align: center;margin-top: 50px;margin-bottom: 25px;"> Cập Nhật Môn Học</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="exampleInputEmail1"><b>Tên Môn Học </b></label>
      <input type="text" class="form-control" placeholder="abc" [(ngModel)]="MonHoc.tenmonhoc"  [ngModelOptions]="{standalone: true}" >
      <small  class="form-text text-muted">Tên lớp học</small>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1"><b> Giảng Viên đứng lớp </b></label>
      <select class="form-control" [(ngModel)]="MonHoc.tengv"  [ngModelOptions]="{standalone: true}">
        <option selected>{{MonHoc.tengv}}</option>
        <option *ngFor="let gv of GiaoVien" >{{gv.tengv}}</option>
      </select>
    </div>
    <div class="form-group">
      <label ><b>Số buổi học </b></label>
      <input type="number"  [(ngModel)]="MonHoc.sobuoihoc"  [ngModelOptions]="{standalone: true}" style="margin-left: 42px;width:50px">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1" style="margin-right: 30px;"><b>Ngày bắt đầu </b></label>
      <input type="date" name="bday" [(ngModel)]="MonHoc.ngaybatdau"  [ngModelOptions]="{standalone: true}">
    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect1" style="margin-right: 30px;"><b>Số Lượng SV: </b></label>
      <span style="color: chocolate; margin-right: 5px;"> {{arrSV.length}} </span>  <a class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        xem chi tiết
      </a>
    </div>

    <div class="collapse" id="collapseExample">

      <div class="card card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sv of arrSV; index as i">
              <th scope="row">{{i + 1}}</th>
              <td>{{sv.tensv}}</td>
              <button type="button" class="btn btn-danger" (click)="deleteSV(sv.id, $event)" >X</button>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <div class="form-group">
      <label > <b>Thêm Sinh viên </b></label>
      <span (click)="showAddSV()" style="margin-left: 20px; color: green; font-weight: 900;cursor: pointer;">+</span>
      <div class="input-group mb-3" *ngIf="isAddSV">
        <div class="input-group-prepend" >
          <span class="input-group-text" style="cursor: pointer;" (click)="searchStudent()"  *ngIf="!isSearchSV">Search</span>
          <span class="input-group-text" *ngIf="isSearchSV"> searching...</span>
        </div>
        <input type="text"[(ngModel)]="inputIdSV"  [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Nhập ID sinh viên..." aria-label="Username" aria-describedby="basic-addon1">
      </div>
    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect1"><b>Thời khóa biểu </b></label>
      <!-- Button trigger modal -->
      <button *ngIf="!lichDay" type="button" class="btn" data-toggle="modal" data-target="#exampleModalCenter">
        <i class="fa fa-calendar"></i>
      </button>
    </div>
    <div *ngIf="isLoading">
      <div class="spinner-grow text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-grow text-secondary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-grow text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-grow text-danger" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-grow text-warning" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-grow text-info" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <table class="table" *ngIf="!isLoading && lichDay">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col"> Edit</th>
          <th scope="col"> Remove</th>
          <th scope="col">Thứ</th>

          <th scope="col">Giờ BĐ</th>
          <th scope="col">Giờ KT</th>


        </tr>
      </thead>
      <tbody>
        <tr >
          <th scope="row"></th>
          <td>
            <button type="button" class="btn btn-info" (click)="editLich()">Edit</button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" (click)="removeLich()">Delete</button>
          </td>
           <td>{{lichDay.thuday}}</td>
            <td> {{lichDay.gioday.giobd}}</td>
            <td> {{lichDay.gioday.giokt}}</td>

        </tr>

      </tbody>
    </table>


  <button type="submit" style="margin-top: 50px;"class="btn btn-primary" >Update</button>
  </form>

    <!-- Modal -->
    <div class="modal fade" *ngIf="addlichday" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Schedule</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label for="chonThu"> Thứ </label>
            <select class="form-control" [(ngModel)]="schedule.thuday"  [ngModelOptions]="{standalone: true}" id="chonThu">
              <option>thứ hai</option>
              <option>thứ ba</option>
              <option>thứ tư</option>
              <option>thứ năm</option>
              <option>thứ sáu</option>
              <option>thứ bảy</option>

            </select>
            <br>
            <label style="margin-right: 30px;">Giờ bắt đầu</label>
            <input type="time" name="time_db"id="test" [(ngModel)]="schedule.gioday.giobd"  [ngModelOptions]="{standalone: true}" >
            <label style="margin-right: 30px;">Giờ kết thúc</label>
            <input type="time" name="time_kt" [(ngModel)]="schedule.gioday.giokt"  [ngModelOptions]="{standalone: true}">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="themLichday()">Set</button>
          </div>
        </div>
      </div>
    </div>
     <!-- edit lich day -->
     <div  *ngIf="lichDay" class="modal fade" id="editSchedule" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Edit Schedule</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label > Thứ </label>
            <select class="form-control" [(ngModel)]="lichDay.thuday"  [ngModelOptions]="{standalone: true}" >
              <option selected>{{lichDay.thuday}}</option>
              <option>thứ hai</option>
              <option>thứ ba</option>
              <option>thứ tư</option>
              <option>thứ năm</option>
              <option>thứ sáu</option>
              <option>thứ bảy</option>

            </select>
            <br>
            <label style="margin-right: 30px;">Giờ bắt đầu</label>
            <input type="time" name="time_db"id="test" [(ngModel)]="lichDay.gioday.giobd"  [ngModelOptions]="{standalone: true}" >
            <label style="margin-right: 30px;">Giờ kết thúc</label>
            <input type="time" name="time_kt" [(ngModel)]="lichDay.gioday.giokt"  [ngModelOptions]="{standalone: true}">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="updateSchedule()">Set</button>
          </div>
        </div>
      </div>
    </div>

    <!-- them sinh vien vao mon hoc -->
    <div class="modal fade"  id="modalSV" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Thông tin sinh viên</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" *ngIf="resultSearch">
            <span><b style="margin-right: 30px">Tên SV: </b>{{resultSearch.tensv}} </span><br>
            <span><b style="margin-right: 30px">MSSV: </b> {{resultSearch.mssv}}</span><br>
            <span><b style="margin-right: 30px">Email: </b> {{resultSearch.email}}</span>
            <div *ngIf="svDangHoc">
              <span style="color: red">Sinh viên đã được thêm vào danh sách</span>
            </div>
          </div>
          <div class="modal-body" *ngIf="!resultSearch">
            Not Found
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" *ngIf="resultSearch && !svDangHoc" (click)="addSV()">Thêm</button>
          </div>
        </div>
      </div>
    </div>
</div>
