<ion-header>
  <ion-toolbar>
      <ion-title>
          Scan Code
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="scannedCode" class="animated  tada ">
      <img src="assets/images/success.png">
      <ion-card-header>
          <ion-card-subtitle>Success</ion-card-subtitle>
          <ion-card-title style="text-align: center;"><span *ngIf="!scanLast">Điểm Danh Thành công </span> <span *ngIf="scanLast">Đã điểm danh </span></ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <ion-title>Môn học :
              <ion-text color="secondary" *ngIf="MonHoc">
                  {{MonHoc.tenmonhoc}}
              </ion-text>
          </ion-title>

          <ion-title>Giảng viên:
              <ion-text color="primary" *ngIf="MonHoc">
                  {{MonHoc.tengv ? MonHoc.tengv : 'Update late'}}
              </ion-text>
          </ion-title>
          <ion-title *ngIf="scanLast">Quét lần cuối:
              <ion-text>
                  {{scanLast}}
              </ion-text>
          </ion-title>
      </ion-card-content>
  </ion-card>
  <p>
      <ion-chip color="secondary" *ngIf="scannedCode">
          <button ion-button full icon-left (click)="scanCode()">
              <ion-icon name="qr-scanner"></ion-icon>Scan Code
          </button>
      </ion-chip>
  </p>
  <ion-card *ngIf="scannedError" class="animated  shake ">
      <img src="assets/images/fail.png" />
      <ion-card-header>
          <ion-card-subtitle>Error</ion-card-subtitle>
          <ion-card-title style="text-align: center;">Điểm danh thất bại</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          Result from scan: fail:((
      </ion-card-content>
  </ion-card>
  <p>
      <ion-chip color="secondary" *ngIf="scannedError">
          <button ion-button full icon-left (click)="scanCode()">
              <ion-icon name="qr-scanner"></ion-icon>Scan Again
          </button>
      </ion-chip>
  </p>
</ion-content>