<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <!-- <button (click)="addnew()" class="btn btn-warning btn-addGV" data-toggle="modal" data-target="#newteacher">Thêm giáo viên</button> -->
        <button class="btn btn-warning btn-addGV" data-toggle="modal" data-target="#newteacher">Thêm giáo viên</button>
        <!-- Modal Add Giáo viên -->
        <div class="modal" id="newteacher" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center" id="exampleModalLabel">Thêm giáo viên mới</h5>
                        <button type="button" class="close" id="close_add_modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Email</label>
                                    <input [ngStyle]="{'border': emailRef.invalid &&  (emailRef.touched ) ? '2px solid red' : '2px solid #ced4da'}" #emailRef="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" type="email" class="form-control" id="inputEmail4" placeholder="Email"
                                        [(ngModel)]="newteacher.email" [ngModelOptions]="{standalone: true}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Mật khẩu</label>
                                    <input [ngStyle]="{'border': pwRef.invalid &&  (pwRef.touched ) ? '2px solid red' : '2px solid #ced4da'}" #pwRef="ngModel" required type="password" class="form-control" id="inputPassword4" placeholder="Password" [(ngModel)]="newteacher.password" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputName">Họ và tên</label>
                                    <input [ngStyle]="{'border': nameRef.invalid &&  (nameRef.touched ) ? '2px solid red' : '2px solid #ced4da'}" #nameRef="ngModel" required type="text" class="form-control" id="inputName" placeholder="Name" [(ngModel)]="newteacher.tengv" [ngModelOptions]="{standalone: true}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputMSGV">Mã số giáo viên</label>
                                    <input [ngStyle]="{'border': msRef.invalid &&  (msRef.touched ) ? '2px solid red' : '2px solid #ced4da'}" #msRef="ngModel" required type="text" class="form-control" id="inputMSGV" placeholder="MSGV" [(ngModel)]="newteacher.msgv" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputBirthday">Ngày sinh</label>
                                    <input [ngStyle]="{'border': snRef.invalid &&  (snRef.touched ) ? '2px solid red' : '2px solid #ced4da'}" #snRef="ngModel" required type="date" class="form-control" id="inputBirthday" placeholder="Birthday" [(ngModel)]="newteacher.ngaysinh" [ngModelOptions]="{standalone: true}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputClass">Lớp</label>
                                    <div *ngFor="let item of auth.ClassNoHaveTeacher()">
                                        <input type="checkbox" (change)="onChange($event.target.checked , item)" [checked]="newteacher.mon.indexOf(item) > -1"> {{item.tenmonhoc}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <button [disabled]="!newteacher.email || !newteacher.password || !newteacher.msgv || !newteacher.tengv || !newteacher.ngaysinh" type="submit" class="btn btn-primary btn-block" (click)="addGV()">Thêm mới</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Email</th>
                    <th scope="col">Lớp</th>
                    <th scope="col">Chức năng</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of auth.GV; let i=index">
                    <th scope="row">{{i}}</th>
                    <td>{{item.tengv}}</td>
                    <td>{{item.email}}</td>
                    <td>
                        <span *ngFor="let lop of item.mon">{{lop.tenmonhoc}} - </span>
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning" (click)="editGV(item)" data-toggle="modal" data-target="#edit_gv_modal">Edit</button>
                        <button type="button" class="btn btn-danger" (click)="delete(item)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Modal Edit Giáo viên -->
        <div *ngIf="edit" class="modal fade" id="edit_gv_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center" id="exampleModalLabel">Chỉnh sửa thông tin giáo viên</h5>
                        <button type="button" class="close" id="close_edit_modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label> Tên </label>
                                    <input [ngStyle]="{'border': nameRef.invalid &&  (nameRef.touched ) ? '2px solid red' : '2px solid #ced4da'}" #nameRef="ngModel" required [(ngModel)]="edit_on.tengv" [ngModelOptions]="{standalone: true}" name="fullname" class="form-control" placeholder="Tên giáo viên"
                                        type="text">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Email</label>
                                    <input [ngStyle]="{'border': emailRef.invalid &&  (emailRef.touched ) ? '2px solid red' : '2px solid #ced4da'}" #emailRef="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="edit_on.email" [ngModelOptions]="{standalone: true}"
                                        name="email" class="form-control" placeholder="Email" type="text">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Mã số giáo viên</label>
                                    <input [ngStyle]="{'border': msRef.invalid &&  (msRef.touched ) ? '2px solid red' : '2px solid #ced4da'}" #msRef="ngModel" required [(ngModel)]="edit_on.msgv" [ngModelOptions]="{standalone: true}" name="msgv" class="form-control" placeholder="Mã số giáo viên"
                                        type="email">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Ngày sinh</label>
                                    <input [ngStyle]="{'border': snRef.invalid &&  (snRef.touched ) ? '2px solid red' : '2px solid #ced4da'}" #snRef="ngModel" required [(ngModel)]="edit_on.ngaysinh" [ngModelOptions]="{standalone: true}" name="ngaysinh" class="form-control" type="date" value="1980-01-01"
                                        id="example-date-input">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label> Mật khẩu</label>
                                    <input [ngStyle]="{'border': pwRef.invalid &&  (pwRef.touched ) ? '2px solid red' : '2px solid #ced4da'}" #pwRef="ngModel" required [(ngModel)]="edit_on.password" [ngModelOptions]="{standalone: true}" name="password" placeholder="Mật khẩu" class="form-control"
                                        type="password">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Lớp</label>
                                    <div *ngFor="let item of class_edit">
                                        <input type="checkbox" (change)="onChangeEdit($event.target.checked, item)" [checked]="edit_on.mon.indexOf(item) > -1"> {{item.tenmonhoc}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <button type="submit" class="btn btn-primary btn-block" (click)="updateGV()"> Lưu </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>