<ion-header>
  <ion-toolbar>
      <ion-title>
          Điểm Danh
      </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-card  *ngIf="User">
      <img src="assets/images/user.png" />
      <ion-card-header>
        <ion-card-subtitle>{{User.email}}</ion-card-subtitle>
        <ion-card-title>{{User.tensv}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
       power by <i>Jenick</i>
      </ion-card-content>
    </ion-card>
    
  </ion-content>
